# Environnement virtuel
env/
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.so
.mypy_cache/

# Config & secrets
.env
/env/

# Base de données locale
*.sqlite3

# Fichiers de logs
*.log

# VS Code
.vscode/

# Docker
*.pid

# Media files
media/

# Static files
staticfiles/

# Gunicorn control socket
gunicorn.ctl
